body {
    font-family: sans-serif;
}
body{
  background-color: red;
}

img{
  border-radius: 20%;
}

li{
 font-size: 30px;
 color: aliceblue;
}

h1{
  font-size: 50px;
  color: yellow;
}

h1:hover{
  color: green;
}

li:hover{
  color: yellowgreen;
}
